body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    width: 800px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
div .form{
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div .form span{
    margin: 15px 0px;
}
div .form label{
    font-size: 1.2rem;
}
div .form input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    outline: 2px solid #58bc82;
    background-color: #9c9c9c60;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
div .form textarea{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #9c9c9c60;
    outline: 2px solid #58bc82;
    color: white;
    font-size: 1rem;
} 
div .form .btns{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div .form button:nth-child(1){
    background-color: #707070;
    color: white;
}
div .form button{
    width: 49%;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #58bc82;
    font-weight: 700;
}