body{
    background-color: #212121;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
    width: 800px;
    height: 300px;
}
h1{
    font-size: 2.7rem;
}
p{
    font-size: 1.4rem;
}